@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap');


:root {
  --color-primary: #77A6F7;
  --color-secondary: #00887A;
  --color-white: #F8F8FF;
  --color-grey: #878787;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
